{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить запись "{{ guest.name }}"?</h1>
    <p>{{ guest.email }} ||| {{ guest.status }}</p>
    <form action="{% url "guest_delete" guest.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да" class="button accept"></p>
        <p><a href="{% url 'index' %}" class="button cancel">Отмена</a></p>
    </form>
    <h3>Содержимое статьи: </h3>
    <p>{{ guest.text }}</p>
{% endblock %}