{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">{% endblock %}
{% block title %}Guest_books{% endblock %}
{% block content %}
<h1>Задачи:</h1>
    <div class = "guest">
        form
        <p><input type="search" name="author" placeholder="Поиск по автору">
        <input type="submit" value="Найти"></p>
        <br/>
        {% for guest in guest_book %}
            <div class="card-content">
                <div class="card">
                    <div class="card-title">
                        <a href="{% url 'guest_delete' guest.pk %}" class="card-button"><i class="far fa-trash-alt"></i></a>
                        <a href="{% url 'guest_edit' guest.pk %}" class="card-button"><i class="far fa-edit"></i></a>
                         <h3>
                            {{ guest.name }}
                        </h3>
                        <p>email: {{ guest.email }}</p>
                    </div>
                    <pre><p class="pre">{{ guest.text }}</p></pre>

                </div>
		    </div>
        {% endfor %}
        <h3>Поля для создания записи: </h3>
        {% url 'guest_create' as action_url %}
        {% include 'partial/form.html' with action_url=action_url form_method='post' %}
    </div>
{% endblock %}
